.xingkong{
  background: url("/love-forever-day.git.io/css/images/星空.jpg");
  background-size: 100% 100%;
  height: 500px;
}
.continer {
  width: 400px;
  height: 400px;
  background-image: url("/love-forever-day.git.io/css/images/taiji.png");
  background-size: 100% 100%;
  margin: 0;
  left: 50%;
  margin-left: -200px;
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 50%;
  animation: rotate linear infinite 20s;
}

.continer .item {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  color: #000;
  position: absolute;
  margin-top: -40px;
}

.item {
  transform-origin: center 240px;
}

.item:nth-child(1) {
  transform: rotate(0deg);
}

.item:nth-child(1) a {
  transform: rotate(0deg);
  text-decoration: none;
}

.item:nth-child(2) {
  transform: rotate(60deg);
}

.item:nth-child(2) a {
  transform: rotate(-60deg);
  text-decoration: none;
}

.item:nth-child(3) {
  transform: rotate(120deg);
}

.item:nth-child(3) a {
  transform: rotate(-120deg);
  text-decoration: none;
}

.item:nth-child(4) {
  transform: rotate(180deg);
}

.item:nth-child(4) a {
  transform: rotate(-180deg);
  text-decoration: none;
}

.item:nth-child(5) {
  transform: rotate(240deg);
}

.item:nth-child(5) a {
  transform: rotate(-240deg);
  text-decoration: none;
}

.item:nth-child(6) {
  transform: rotate(300deg);
}

.item:nth-child(6) a {
  transform: rotate(-300deg);
  text-decoration: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
